/*General Rules*/
body {
    background-color: #ABA9BB;
    color: #020735;
}
/*Index Page Rules*/ 
.username-input-display{
    background-color: #777586;
}

#start-box-div{
    background-color:aliceblue;
    border: 1px solid black;
    padding: 5px;

}

/*Game Page Rules*/

.option-align {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 25px;
    gap: 20px;
}