/*General Rules*/
body {
    background-color: #ABA9BB;
    color: #020735;
    position: relative;
    margin: 0;
    min-height: 100vh;
}

/*Header Rules*/
header {
    min-height: 50px;
    background-color: #777586;
}

.hero-container-align {
    display: flex;
    flex-direction: row;
}

.cyberpunk-hero-container {
    background: url("../images/cyberpunk-city-background.jpg") no-repeat center center / cover;
    display: none;
}

.fantasy-hero-container {
    background: url("../images/medieval-fantasy-background.jpg") no-repeat center center / cover;
    width: 100%;
    height: 150px;
    padding: 0;
}

.scifi-hero-container {
    background: url("../images/scifi-spaceship-background.jpg") no-repeat center center / cover;
    display: none;
}

.website-title {
    margin: 0;
    text-align: center;
}

/*Index Page Rules*/
.username-display-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/book-background.jpg") no-repeat center center / cover;
    height: 70vh;
    justify-content: space-around;
}

.username-input-display {
    background-color: #777586;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.username-input-space {
    padding: 10px;
}

legend {
    font-size: large;
    font-weight: 500;
}

#start-box-div {
    background-color: #ABA9BB;
    border: 1px solid black;
    padding: 5px;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Theme Selector Page*/
.greet-user{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
.theme-display-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/book-background.jpg") no-repeat center center / cover;
    height: 70vh;
}
.introduction-text {
    background-color: #ABA9BB;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.rules-box{
    width: 315px;
    padding: 5px;
}


/*Game Page Rules*/

.option-align {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 25px;
    gap: 20px;
}

/*Footer Rules*/
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #777586;
}

footer p {
    color: #020735;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: #020735;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*This is a media query that targets medium sized devices like tablets and small laptops
The following Style Rules give the content more space and realigns it to be more pleasing for screens above 768px*/
@media only screen and (min-width: 768px) {
    .fantasy-hero-container {
        background: url("../images/medieval-fantasy-background.jpg") no-repeat center center / cover;
        width: 50%;
        height: 200px;
        padding: 0;
    }

    .scifi-hero-container {
        background: url("../images/scifi-spaceship-background.jpg") no-repeat center center / cover;
        display: block;
        width: 50%;
        height: 200px;
        padding: 0;
    }

}

/*This is a media query that targets larger device screen sizes (laptop and desktop) 
The following Style Rules give the content more space and realigns it to be more pleasing for screens above 768px*/
@media only screen and (min-width: 1200px) {
    .cyberpunk-hero-container {
        background: url("../images/cyberpunk-city-background.jpg") no-repeat center center / cover;
        display: block;
        width: 33.333%;
        height: 200px;
        padding: 0;
    }

    .fantasy-hero-container {
        background: url("../images/medieval-fantasy-background.jpg") no-repeat center center / cover;
        width: 33.333%;
        height: 200px;
        padding: 0;
    }

    .scifi-hero-container {
        background: url("../images/scifi-spaceship-background.jpg") no-repeat center center / cover;
        display: block;
        width: 33.333%;
        height: 200px;
        padding: 0;
    }

}