/*General Rules*/
body {
    background-color: #ABA9BB;
    color: #020735;
}
/*Header Rules*/
.cyberpunk-hero-container {
    background-image: url("../images/cheng-feng-psdV2Rl-GvU-unsplash_1.webp") no-repeat center center / cover;
    display: none;
}
.fantasy-hero-container {
    background-image: url("../images/stockvault-blood-mountain-castle276512_1.webp") no-repeat center center / cover;
    width: 100%;
    height: 200px;
    padding: 0;
}
.scifi-hero-container {
    background-image: url("../images/rod-long-rKiXtZPOQ28-unsplash_1.webp") no-repeat center center / cover;
    display: none;
}
/*Index Page Rules*/ 
.username-input-display{
    background-color: #777586;
}

#start-box-div{
    background-color:aliceblue;
    border: 1px solid black;
    padding: 5px;

}

/*Game Page Rules*/

.option-align {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 25px;
    gap: 20px;
}

